<div class='main-page'>
      <h4 class='stamp'>Created by Kevin McMinn</h4>
      <div class='new-class-form'>
         <h1>Schedule a New Class</h1><br>
         <%= form_for(@activity) do |f| %>
           <label>Class Activity:</label>
           <%= f.text_field :name %><br>

           <label>Scheduled Day</label>
           <select name="activity[day_id]">
           <% Day.all.each do |day| %>
               <option value="<%= day.id %> <%day.id%>"><%= day.day %></option>
           <% end %>
         </select><br>

         <label>Start Time</label>
         <select name="activity[start_time_id]">
         <% StartTime.all.each do |start_time| %>
               <option value="<%=start_time.id%>"> <%= start_time.hour %>  </option>
         <% end %>
      </select><br>

           <label>End Time</label>
           <select name="activity[end_time_id]">
           <% EndTime.all.each do |end_time| %>
               <option value="<%= end_time.id %>"> <%= end_time.hour %></option>
           <% end %>
         </select><br>

           <%= f.submit %>
         <% end %>
      </div>
</div>
